<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>投稿編集</h1>
        <% if @book.errors.any? %>
          <%= @book.errors.count %>件のエラーが発生しました
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: @book do |f| %>
          <p>ISBN <%= f.text_field :isbn %></p>
          <p>表紙 <%= f.file_field :image,accept: "image/*" %></p>
          <p>絵本タイトル <%= f.text_field :title, class:"form-control book_title" %></p>
          <p>著者名 <%= f.text_field :author_name %></p>
          <p>ジャンル</p>
            <ul class="list-unstyled">
              <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name , include_hidden: false do |b| %>
                <li class="form-check">
                  <%= b.check_box(class: "form-check-input") %>
                  <%= b.label(class: "form-check-label") %> 
                </li>
              <% end %>
            </ul>
          <p>レビュー</p>
            <%= f.text_area :review, class:"form-control book_review" %><br>
          <%= f.submit'更新', class:"btn btn-success" %><br><br>
        <% end %>
        <%= link_to "削除", book_path(@book.id), class:"btn btn-sm btn-danger destroy_book_160598", method: :delete, "data-confirm" => "本当に削除しますか？" %><br><br>
        <%= link_to "戻る", book_path(@book.id) %> |
        <%= link_to "マイページ", users_mypage_path %>
      </div>
    </div>
  </div>
</main>